# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules

#Build generated
build

### VisualStudioCode ###
.vscode/*

### PHPStorm/IntelliJ ###
/.idea
.DS_Store
